@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Firefox */
*::-webkit-scrollbar-thumb {
    background-color: #23c16d;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  
  /* For WebKit browsers (Chrome, Safari, etc.) */
  *::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #18c727;
    border-radius: 10px;
    border: 2px solid #ffffff; /* Adjust border width to create extra thin scrollbar */
  }