@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Firefox */
*::-webkit-scrollbar-thumb {
    background-color: #23c16d;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  
  /* For WebKit browsers (Chrome, Safari, etc.) */
  *::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #18c727;
    border-radius: 10px;
    border: 2px solid #ffffff; /* Adjust border width to create extra thin scrollbar */
  }

  
 
  @media (min-width: 768px) {
    .chart-container {
      height: 400px; /* Reduced height for larger screens */
    }
  }
  
  @media (min-width: 1024px) {
    .chart-container {
      height: 450px; /* Further reduced height for even larger screens */
    
    } 
  }
  